# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/
client/node_modules/
client/webpack/
client/README.md
client/.babelrc

# Build
/npm-debug.log
